:host {
    .validation-errors {
        margin-left: 10px !important;
        font-size: 12px !important;
        color: red !important;
    }
    ion-button {
        margin-left: 10px !important;
        span{
          text-align:left;
          width:100%;
        }
        i {
            text-align: right;
        }
    }
}

.image-logo {
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: image-logo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @keyframes image-logo {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:red; left:0px; top:0px;}
      }
}