<ion-header no-border lines="none">
  <ion-toolbar color="white" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" class="hidden-md" color="dark" mode="md" icon="md-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4" offset-sm="3" size-sm="6" color="dark" size="12">
        <div class="hidden-xs">
          <br />
          <br />
        </div>
        <ion-item lines="none">
          <ion-label>
            <h2 color="dark" class="fs-22">Recover your Account</h2>
            <p class="fs-14"class="ion-text-wrap">Lost your account detail <br /> recover it easy.</p>
          </ion-label>
        </ion-item>
        <reset-password-form></reset-password-form>
      </ion-col>
      <ion-col size-md="8" size-sm="7" class="visible-md h-100">
        <div> 2 of 3 </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>