<form class="form" [formGroup]="reset_form"  (ngSubmit)="reset(reset_form.value)">
  <br />
  <ion-item lines="none">
    <ion-label  position="stacked" color="dark">Email</ion-label>
    <ion-input type="text" placeholder="test@example.com" formControlName="email"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div class="error-message" *ngIf="reset_form.get('email').hasError(validation.type) && (reset_form.get('email').dirty || reset_form.get('email').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
  </div>
  <br />
  <ion-row>
    <ion-col size="10">
      <ion-button align="left" color="dark" fill="outline" mode="ios" expand="block" type="submit" [disabled]="!reset_form.valid">
        <span>Recover your account</span>
      </ion-button>
    </ion-col>
  </ion-row>
</form>