
<ion-content align="center">
  <div  class="content"></div>
</ion-content>

<ion-footer no-border  class="ion-padding" lines="none">
  <ion-item lines="none" class="no-padding" >
    <ion-label>
      <h2 color="dark" class="fs-20">Let's get started</h2>
      <p class="fs-14 ion-text-wrap">create your vendor account in minutes and get access.</p>
    </ion-label>
  </ion-item>
  <ion-button (click)="navigate('login')" color="dark" fill="outline" mode="ios" expand="block">
    <span>Getting started</span>
    <i slot="end" class="material-icons">
      arrow_forward
    </i>
  </ion-button>
  <br />
</ion-footer>