:host {
    ion-footer {
        background-color: transparent !important;
        * {
            background-color: transparent !important;
        }
        ion-item {
            margin-left: -5px !important;
            background-color: transparent !important;
        }
    }
    ion-content {
        --background: url("/assets/img/background/backgroundmovies.jpeg") repeat 52% 100%;
        --background-size: cover !important;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        --overflow: hidden !important;
        > div {
            --overflow: hidden !important;
            height: 100% !important;
            width: 100% !important;
            background-image: linear-gradient(to bottom, rgba(2, 0, 0, 0), #000) !important;
            // background-color: #000 !important;
            // filter: opacity(.7) !important;
        }
    }

    ion-button {
        margin-left: 10px !important;
        span{
          text-align:left;
          width:100%;
        }
        i {
            text-align: right;
        }
    }
}