<ion-header no-border lines="none">
  <ion-toolbar color="white" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" class="hidden-md" color="dark" mode="md" icon="md-arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4" offset-sm="3" size-sm="6" color="dark" size="12">
        <div class="hidden-xs">
          <br />
          <br />
        </div>
        <ion-item lines="none">
          <ion-label>
            <h2 color="dark" class="fs-22">Welcome back</h2>
            <p class="fs-14"class="ion-text-wrap">Sign in to continue using our app</p>
          </ion-label>
        </ion-item>
        <login-form></login-form>
        <br />
        <ion-item lines="none">
          <ion-label>
            <p class="fs-14" class="ion-text-wrap"><span color="dark" fill="outline" routerLink="/reset">Lost your details? Reset Your Password.</span></p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="dark" fill="outline">
            <p class="fs-14" class="ion-text-wrap"><span color="dark" fill="outline" routerLink="/signup">Don't have an account? Create an Account.</span></p>
          </ion-label>
        </ion-item>
      </ion-col>
      <!-- <ion-col size-md="5" size-sm="3" class="bg-img" style="background: url('/assets/img/background/backgroundmovies.jpeg') repeat 52% 100%">
        <div class="content"></div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  
</ion-content>