:host {
    // app-tab-menu {
        ion-tab-bar {
            box-shadow: 0px !important;
            height: 45px !important;
            ion-tab-button.tab-selected {
                * {
                    // --background: #000 !important;
                    color: #ffce00 !important;
                }
                ion-icon, i {
                    font-size: 25px !important;
                    margin-left: -2px !important;
                    --ion-text-color: --ion-color-success !important;
                }
                ion-label {
                    font-size: 12px !important;
                    margin-top: 3px !important;
                    --ion-text-color: --ion-color-success !important;
                }
            }
            ion-tab-button {
                ion-icon, i {
                    height: 23px !important;
                    font-size: 23px !important;
                }
                ion-label {
                    margin-top: 3px !important;
                    font-size: 11px !important;
                }
                ion-icon {
                    margin-bottom: -3px !important;
                }
            }
        }
    // }
}